# code: language=yaml

{{ if $observedResources }}

---

apiVersion: aws.hops.ops.com.ai/v1alpha1
kind: Account
status:
  ready: {{ if $accountReady }}true{{ else }}false{{ end }}
  orgId: "{{ $organizationId }}"
  accountId: "{{ $accountId }}"
  adminRoleArn: "{{ $adminRoleArn }}"
  providerConfigName: "{{ $accountProviderConfigName }}"

{{ end }}
